<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AuthorityRolePOMapper">

     <resultMap id="BaseResultMap" type="AuthorityRolePO">
        <result property="roleUuid" column="role_uuid"/>
        <result property="roleName" column="role_name"/>
        <result property="roleStatus" column="role_status"/>
        <result property="roleAddTime" column="role_add_time"/>
        <result property="roleAddBy" column="role_add_by"/>
        <result property="roleDelTime" column="role_del_time"/>
        <result property="roleDelBy" column="role_del_by"/>
        <result property="roleIsDelete" column="role_is_delete"/>
        <result property="rolePlatformUuid" column="role_platform_uuid"/>
        <result property="roleEditBy" column="role_edit_by"/>
        <result property="roleEditTime" column="role_edit_time"/>
    </resultMap>

	<sql id="Base_Column_List">
		role_uuid,role_name,role_status,role_add_time,role_add_by,role_del_time,role_del_by,role_is_delete,role_platform_uuid,role_edit_by,role_edit_time
	</sql>
	
	<insert id="insert" parameterType="AuthorityRolePO" >
		INSERT INTO authority_role (
				role_uuid
				<if test="roleName != null  and  roleName != '' " > 
					, role_name
				</if>
				<if test="roleStatus != null  and  roleStatus != '' " > 
					, role_status
				</if>
				<if test="roleAddTime != null  and  roleAddTime != '' " > 
					, role_add_time
				</if>
				<if test="roleAddBy != null  and  roleAddBy != '' " > 
					, role_add_by
				</if>
				<if test="roleDelTime != null  and  roleDelTime != '' " > 
					, role_del_time
				</if>
				<if test="roleDelBy != null  and  roleDelBy != '' " > 
					, role_del_by
				</if>
				<if test="roleIsDelete != null  and  roleIsDelete != '' " > 
					, role_is_delete
				</if>
				<if test="rolePlatformUuid != null  and  rolePlatformUuid != '' " > 
					, role_platform_uuid
				</if>
				<if test="roleEditBy != null  and  roleEditBy != '' " > 
					, role_edit_by
				</if>
				<if test="roleEditTime != null  and  roleEditTime != '' " > 
					, role_edit_time
				</if>
		 ) VALUES (
				#{roleUuid}
				<if test="roleName != null  and  roleName != '' " > 
					, #{roleName}
				</if>
				<if test="roleStatus != null  and  roleStatus != '' " > 
					, #{roleStatus}
				</if>
				<if test="roleAddTime != null  and  roleAddTime != '' " > 
					, #{roleAddTime}
				</if>
				<if test="roleAddBy != null  and  roleAddBy != '' " > 
					, #{roleAddBy}
				</if>
				<if test="roleDelTime != null  and  roleDelTime != '' " > 
					, #{roleDelTime}
				</if>
				<if test="roleDelBy != null  and  roleDelBy != '' " > 
					, #{roleDelBy}
				</if>
				<if test="roleIsDelete != null  and  roleIsDelete != '' " > 
					, #{roleIsDelete}
				</if>
				<if test="rolePlatformUuid != null  and  rolePlatformUuid != '' " > 
					, #{rolePlatformUuid}
				</if>
				<if test="roleEditBy != null  and  roleEditBy != '' " > 
					, #{roleEditBy}
				</if>
				<if test="roleEditTime != null  and  roleEditTime != '' " > 
					, #{roleEditTime}
				</if>
		 )
	</insert>
	
	<update id="updateByUuid" parameterType="AuthorityRolePO" flushCache="true">
	 	UPDATE authority_role SET
				role_uuid = #{roleUuid}
				<if test="roleName != null  and  roleName != '' " > 
					, role_name = #{roleName}
				</if>
				<if test="roleStatus != null  and  roleStatus != '' " > 
					, role_status = #{roleStatus}
				</if>
				<if test="roleAddTime != null  and  roleAddTime != '' " > 
					, role_add_time = #{roleAddTime}
				</if>
				<if test="roleAddBy != null  and  roleAddBy != '' " > 
					, role_add_by = #{roleAddBy}
				</if>
				<if test="roleDelTime != null  and  roleDelTime != '' " > 
					, role_del_time = #{roleDelTime}
				</if>
				<if test="roleDelBy != null  and  roleDelBy != '' " > 
					, role_del_by = #{roleDelBy}
				</if>
				<if test="roleIsDelete != null  and  roleIsDelete != '' " > 
					, role_is_delete = #{roleIsDelete}
				</if>
				<if test="rolePlatformUuid != null  and  rolePlatformUuid != '' " > 
					, role_platform_uuid = #{rolePlatformUuid}
				</if>
				<if test="roleEditBy != null  and  roleEditBy != '' " > 
					, role_edit_by = #{roleEditBy}
				</if>
				<if test="roleEditTime != null  and  roleEditTime != '' " > 
					, role_edit_time = #{roleEditTime}
				</if>
	    WHERE 1 = 1
				and role_uuid = #{roleUuid}
	</update>

	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
			<include refid="Base_Column_List" /> 
		from authority_role  
		where 1 = 1
				<if test="role.roleUuid != null  and  role.roleUuid != '' " > 
					and role_uuid = #{role.roleUuid}
				</if>
				<if test="role.roleName != null  and  role.roleName != '' " > 
					and role_name = #{role.roleName}
				</if>
				<if test="role.roleStatus != null  and  role.roleStatus != '' " > 
					and role_status = #{role.roleStatus}
				</if>
				<if test="role.roleAddTime != null  and  role.roleAddTime != '' " > 
					and role_add_time = #{role.roleAddTime}
				</if>
				<if test="role.roleAddBy != null  and  role.roleAddBy != '' " > 
					and role_add_by = #{role.roleAddBy}
				</if>
				<if test="role.roleDelTime != null  and  role.roleDelTime != '' " > 
					and role_del_time = #{role.roleDelTime}
				</if>
				<if test="role.roleDelBy != null  and  role.roleDelBy != '' " > 
					and role_del_by = #{role.roleDelBy}
				</if>
				<if test="role.roleIsDelete != null  and  role.roleIsDelete != '' " > 
					and role_is_delete = #{role.roleIsDelete}
				</if>
				<if test="role.rolePlatformUuid != null  and  role.rolePlatformUuid != '' " > 
					and role_platform_uuid = #{role.rolePlatformUuid}
				</if>
				<if test="role.roleEditBy != null  and  role.roleEditBy != '' " > 
					and role_edit_by = #{role.roleEditBy}
				</if>
				<if test="role.roleEditTime != null  and  role.roleEditTime != '' " > 
					and role_edit_time = #{role.roleEditTime}
				</if>
				<if test="order != null  and  order != '' and sort != null and sort != '' " > 
					ORDER BY ${sort} ${order}
				</if>
	</select>
	
	<select id="selectCountByCondition" resultType="int" parameterType="AuthorityRolePO">
		select count(1) 
			from authority_role 
			where 1 = 1
					<if test="roleUuid != null  and  roleUuid != '' " > 
						and role_uuid = #{roleUuid}
					</if>		        	
					<if test="roleName != null  and  roleName != '' " > 
						and role_name = #{roleName}
					</if>		        	
					<if test="roleStatus != null  and  roleStatus != '' " > 
						and role_status = #{roleStatus}
					</if>		        	
					<if test="roleAddTime != null  and  roleAddTime != '' " > 
						and role_add_time = #{roleAddTime}
					</if>		        	
					<if test="roleAddBy != null  and  roleAddBy != '' " > 
						and role_add_by = #{roleAddBy}
					</if>		        	
					<if test="roleDelTime != null  and  roleDelTime != '' " > 
						and role_del_time = #{roleDelTime}
					</if>		        	
					<if test="roleDelBy != null  and  roleDelBy != '' " > 
						and role_del_by = #{roleDelBy}
					</if>		        	
					<if test="roleIsDelete != null  and  roleIsDelete != '' " > 
						and role_is_delete = #{roleIsDelete}
					</if>		        	
					<if test="rolePlatformUuid != null  and  rolePlatformUuid != '' " > 
						and role_platform_uuid = #{rolePlatformUuid}
					</if>	
					<if test="roleEditBy != null  and  roleEditBy != '' " > 
						and role_edit_by = #{roleEditBy}
					</if>
					<if test="roleEditTime != null  and  roleEditTime != '' " > 
						and role_edit_time = #{roleEditTime}
					</if>	        	
	</select>
	
	<select id="getRoleByResource" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT <include refid="Base_Column_List" /> 
		 from authority_role WHERE role_uuid IN (SELECT rr_role_uuid from authority_role_resources_relation where rr_resource_uuid = #{resourceUuid})
	</select>
	
	<select id="search" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT <include refid="Base_Column_List" /> 
		 from authority_role WHERE 1=1 and role_is_delete = 2
		 <if test = "search != null and search != ''">
		  and MATCH (role_uuid,role_name,role_platform_uuid) AGAINST (#{search})
		 </if>
		 <if test="order != null  and  order != '' and sort != null and sort != '' " > 
			ORDER BY ${sort} ${order}
		</if>
	</select>
	
	<select id = "searchCount" resultType="int" parameterType="java.util.Map">
		select count(*) from authority_role WHERE 1=1 and role_is_delete = 2 
		 <if test = "search != null and search != ''">
		  and MATCH (role_uuid,role_name,role_platform_uuid) AGAINST (#{search})
		 </if>
	</select>
	
</mapper>

