<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AuthorityResourcesPOMapper">

     <resultMap id="BaseResultMap" type="AuthorityResourcesPO">
        <result property="resourceUuid" column="resource_uuid"/>
        <result property="resourceName" column="resource_name"/>
        <result property="resourcePlatformUuid" column="resource_platform_uuid"/>
        <result property="resourceStatus" column="resource_status"/>
        <result property="resourceUrl" column="resource_url"/>
        <result property="resourceLevel" column="resource_level"/>
        <result property="resourceOrder" column="resource_order"/>
        <result property="resourceParentUuid" column="resource_parent_uuid"/>
        <result property="resourceCssCode" column="resource_css_code"/>
        <result property="resourceAddTime" column="resource_add_time"/>
        <result property="resourceAddBy" column="resource_add_by"/>
        <result property="resourceDelTime" column="resource_del_time"/>
        <result property="resourceDelBy" column="resource_del_by"/>
        <result property="resourceIsDelete" column="resource__is_delete"/>
        <result property="resourceEditBy" column="resource_edit_by"/>
        <result property="resourceEditTime" column="resource_edit_time"/>
    </resultMap>
    
    <resultMap id="HasChildResultMap" type="AuthorityResourcesPO">
        <result property="resourceUuid" column="resource_uuid"/>
        <result property="resourceName" column="resource_name"/>
        <result property="resourcePlatformUuid" column="resource_platform_uuid"/>
        <result property="resourceStatus" column="resource_status"/>
        <result property="resourceUrl" column="resource_url"/>
        <result property="resourceLevel" column="resource_level"/>
        <result property="resourceOrder" column="resource_order"/>
        <result property="resourceParentUuid" column="resource_parent_uuid"/>
        <result property="resourceCssCode" column="resource_css_code"/>
        <result property="resourceAddTime" column="resource_add_time"/>
        <result property="resourceAddBy" column="resource_add_by"/>
        <result property="resourceDelTime" column="resource_del_time"/>
        <result property="resourceDelBy" column="resource_del_by"/>
        <result property="resourceIsDelete" column="resource__is_delete"/>
        <result property="resourceEditBy" column="resource_edit_by"/>
        <result property="resourceEditTime" column="resource_edit_time"/>
        <collection property="childList" column="resource_uuid" ofType="AuthorityResourcesPO" javaType="java.util.ArrayList" 
        	select="childSelect"/>
    </resultMap>
    
	<sql id="Base_Column_List">
		resource_uuid,resource_name,resource_platform_uuid,resource_status,resource_url,resource_level,resource_order,resource_parent_uuid,resource_css_code,resource_add_time,resource_add_by,resource_del_time,resource_del_by,resource__is_delete,resource_edit_by,resource_edit_time
	</sql>
	
	<insert id="insert" parameterType="AuthorityResourcesPO" >
		INSERT INTO authority_resources (
				resource_uuid
				<if test="resourceName != null  and  resourceName != '' " > 
					, resource_name
				</if>
				<if test="resourcePlatformUuid != null  and  resourcePlatformUuid != '' " > 
					, resource_platform_uuid
				</if>
				<if test="resourceStatus != null  and  resourceStatus != '' " > 
					, resource_status
				</if>
				<if test="resourceUrl != null  and  resourceUrl != '' " > 
					, resource_url
				</if>
				<if test="resourceLevel != null  and  resourceLevel != '' " > 
					, resource_level
				</if>
				<if test="resourceOrder != null  and  resourceOrder != '' " > 
					, resource_order
				</if>
				<if test="resourceParentUuid != null  and  resourceParentUuid != '' " > 
					, resource_parent_uuid
				</if>
				<if test="resourceCssCode != null  and  resourceCssCode != '' " > 
					, resource_css_code
				</if>
				<if test="resourceAddTime != null  and  resourceAddTime != '' " > 
					, resource_add_time
				</if>
				<if test="resourceAddBy != null  and  resourceAddBy != '' " > 
					, resource_add_by
				</if>
				<if test="resourceDelTime != null  and  resourceDelTime != '' " > 
					, resource_del_time
				</if>
				<if test="resourceDelBy != null  and  resourceDelBy != '' " > 
					, resource_del_by
				</if>
				<if test="resourceIsDelete != null  and  resourceIsDelete != '' " > 
					, resource__is_delete
				</if>
				<if test="resourceEditBy != null  and  resourceEditBy != '' " > 
					, resource_edit_by
				</if>
				<if test="resourceEditTime != null  and  resourceEditTime != '' " > 
					, resource_edit_time
				</if>
		 ) VALUES (
				#{resourceUuid}
				<if test="resourceName != null  and  resourceName != '' " > 
					, #{resourceName}
				</if>
				<if test="resourcePlatformUuid != null  and  resourcePlatformUuid != '' " > 
					, #{resourcePlatformUuid}
				</if>
				<if test="resourceStatus != null  and  resourceStatus != '' " > 
					, #{resourceStatus}
				</if>
				<if test="resourceUrl != null  and  resourceUrl != '' " > 
					, #{resourceUrl}
				</if>
				<if test="resourceLevel != null  and  resourceLevel != '' " > 
					, #{resourceLevel}
				</if>
				<if test="resourceOrder != null  and  resourceOrder != '' " > 
					, #{resourceOrder}
				</if>
				<if test="resourceParentUuid != null  and  resourceParentUuid != '' " > 
					, #{resourceParentUuid}
				</if>
				<if test="resourceCssCode != null  and  resourceCssCode != '' " > 
					, #{resourceCssCode}
				</if>
				<if test="resourceAddTime != null  and  resourceAddTime != '' " > 
					, #{resourceAddTime}
				</if>
				<if test="resourceAddBy != null  and  resourceAddBy != '' " > 
					, #{resourceAddBy}
				</if>
				<if test="resourceDelTime != null  and  resourceDelTime != '' " > 
					, #{resourceDelTime}
				</if>
				<if test="resourceDelBy != null  and  resourceDelBy != '' " > 
					, #{resourceDelBy}
				</if>
				<if test="resourceIsDelete != null  and  resourceIsDelete != '' " > 
					, #{resourceIsDelete}
				</if>
				<if test="resourceEditBy != null  and  resourceEditBy != '' " > 
					, #{resourceEditBy}
				</if>
				<if test="resourceEditTime != null  and  resourceEditTime != '' " > 
					, #{resourceEditTime}
				</if>
		 )
	</insert>
	
	<update id="updateByUuid" parameterType="AuthorityResourcesPO" flushCache="true">
	 	UPDATE authority_resources SET
				resource_uuid = #{resourceUuid}
				<if test="resourceName != null  and  resourceName != '' " > 
					, resource_name = #{resourceName}
				</if>
				<if test="resourcePlatformUuid != null  and  resourcePlatformUuid != '' " > 
					, resource_platform_uuid = #{resourcePlatformUuid}
				</if>
				<if test="resourceStatus != null  and  resourceStatus != '' " > 
					, resource_status = #{resourceStatus}
				</if>
				<if test="resourceUrl != null  and  resourceUrl != '' " > 
					, resource_url = #{resourceUrl}
				</if>
				<if test="resourceLevel != null  and  resourceLevel != '' " > 
					, resource_level = #{resourceLevel}
				</if>
				<if test="resourceOrder != null  and  resourceOrder != '' " > 
					, resource_order = #{resourceOrder}
				</if>
				<if test="resourceParentUuid != null  and  resourceParentUuid != '' " > 
					, resource_parent_uuid = #{resourceParentUuid}
				</if>
				<if test="resourceCssCode != null  and  resourceCssCode != '' " > 
					, resource_css_code = #{resourceCssCode}
				</if>
				<if test="resourceAddTime != null  and  resourceAddTime != '' " > 
					, resource_add_time = #{resourceAddTime}
				</if>
				<if test="resourceAddBy != null  and  resourceAddBy != '' " > 
					, resource_add_by = #{resourceAddBy}
				</if>
				<if test="resourceDelTime != null  and  resourceDelTime != '' " > 
					, resource_del_time = #{resourceDelTime}
				</if>
				<if test="resourceDelBy != null  and  resourceDelBy != '' " > 
					, resource_del_by = #{resourceDelBy}
				</if>
				<if test="resourceIsDelete != null  and  resourceIsDelete != '' " > 
					, resource__is_delete = #{resourceIsDelete}
				</if>
				<if test="resourceEditBy != null  and  resourceEditBy != '' " > 
					, resource_edit_by = #{resourceEditBy}
				</if>
				<if test="resourceEditTime != null  and  resourceEditTime != '' " > 
					, resource_edit_time = #{resourceEditTime}
				</if>
	    WHERE 1 = 1
				and resource_uuid = #{resourceUuid}
	</update>

	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
			<include refid="Base_Column_List" /> 
		from authority_resources  
		where 1 = 1
				<if test="resource.resourceUuid != null  and  resource.resourceUuid != '' " > 
					and resource_uuid = #{resource.resourceUuid}
				</if>
				<if test="resource.resourceName != null  and  resource.resourceName != '' " > 
					and resource_name = #{resource.resourceName}
				</if>
				<if test="resource.resourcePlatformUuid != null  and  resource.resourcePlatformUuid != '' " > 
					and resource_platform_uuid = #{resource.resourcePlatformUuid}
				</if>
				<if test="resource.resourceStatus != null  and  resource.resourceStatus != '' " > 
					and resource_status = #{resource.resourceStatus}
				</if>
				<if test="resource.resourceUrl != null  and  resource.resourceUrl != '' " > 
					and resource_url = #{resource.resourceUrl}
				</if>
				<if test="resource.resourceLevel != null  and  resource.resourceLevel != '' " > 
					and resource_level = #{resource.resourceLevel}
				</if>
				<if test="resource.resourceOrder != null  and  resource.resourceOrder != '' " > 
					and resource_order = #{resource.resourceOrder}
				</if>
				<if test="resource.resourceParentUuid != null  and  resource.resourceParentUuid != '' " > 
					and resource_parent_uuid = #{resource.resourceParentUuid}
				</if>
				<if test="resource.resourceCssCode != null  and  resource.resourceCssCode != '' " > 
					and resource_css_code = #{resource.resourceCssCode}
				</if>
				<if test="resource.resourceAddTime != null  and  resource.resourceAddTime != '' " > 
					and resource_add_time = #{resource.resourceAddTime}
				</if>
				<if test="resource.resourceAddBy != null  and  resource.resourceAddBy != '' " > 
					and resource_add_by = #{resource.resourceAddBy}
				</if>
				<if test="resource.resourceDelTime != null  and  resource.resourceDelTime != '' " > 
					and resource_del_time = #{resource.resourceDelTime}
				</if>
				<if test="resource.resourceDelBy != null  and  resource.resourceDelBy != '' " > 
					and resource_del_by = #{resource.resourceDelBy}
				</if>
				<if test="resource.resourceIsDelete != null  and  resource.resourceIsDelete != '' " > 
					and resource__is_delete = #{resource.resourceIsDelete}
				</if>
				<if test="resource.resourceEditBy != null  and  resource.resourceEditBy != '' " > 
					and resource_edit_by = #{resource.resourceEditBy}
				</if>
				<if test="resource.resourceEditTime != null  and  resource.resourceEditTime != '' " > 
					and resource_edit_time = #{resource.resourceEditTime}
				</if>
				<if test="order != null  and  order != '' and sort != null and sort != '' " > 
					ORDER BY ${sort} ${order}
				</if>
	</select>
	
	<select id="selectByConditionHasChildList" resultMap="HasChildResultMap" parameterType="java.util.Map">
		select 
			<include refid="Base_Column_List" /> 
		from authority_resources  
		where 1 = 1
				<if test="resource.resourceUuid != null  and  resource.resourceUuid != '' " > 
					and resource_uuid = #{resource.resourceUuid}
				</if>
				<if test="resource.resourceName != null  and  resource.resourceName != '' " > 
					and resource_name = #{resource.resourceName}
				</if>
				<if test="resource.resourcePlatformUuid != null  and  resource.resourcePlatformUuid != '' " > 
					and resource_platform_uuid = #{resource.resourcePlatformUuid}
				</if>
				<if test="resource.resourceStatus != null  and  resource.resourceStatus != '' " > 
					and resource_status = #{resource.resourceStatus}
				</if>
				<if test="resource.resourceUrl != null  and  resource.resourceUrl != '' " > 
					and resource_url = #{resource.resourceUrl}
				</if>
				<if test="resource.resourceLevel != null  and  resource.resourceLevel != '' " > 
					and resource_level = #{resource.resourceLevel}
				</if>
				<if test="resource.resourceOrder != null  and  resource.resourceOrder != '' " > 
					and resource_order = #{resource.resourceOrder}
				</if>
				<if test="resource.resourceParentUuid != null  and  resource.resourceParentUuid != '' " > 
					and resource_parent_uuid = #{resource.resourceParentUuid}
				</if>
				<if test="resource.resourceCssCode != null  and  resource.resourceCssCode != '' " > 
					and resource_css_code = #{resource.resourceCssCode}
				</if>
				<if test="resource.resourceAddTime != null  and  resource.resourceAddTime != '' " > 
					and resource_add_time = #{resource.resourceAddTime}
				</if>
				<if test="resource.resourceAddBy != null  and  resource.resourceAddBy != '' " > 
					and resource_add_by = #{resource.resourceAddBy}
				</if>
				<if test="resource.resourceDelTime != null  and  resource.resourceDelTime != '' " > 
					and resource_del_time = #{resource.resourceDelTime}
				</if>
				<if test="resource.resourceDelBy != null  and  resource.resourceDelBy != '' " > 
					and resource_del_by = #{resource.resourceDelBy}
				</if>
				<if test="resource.resourceIsDelete != null  and  resource.resourceIsDelete != '' " > 
					and resource__is_delete = #{resource.resourceIsDelete}
				</if>
				<if test="resource.resourceEditBy != null  and  resource.resourceEditBy != '' " > 
					and resource_edit_by = #{resource.resourceEditBy}
				</if>
				<if test="resource.resourceEditTime != null  and  resource.resourceEditTime != '' " > 
					and resource_edit_time = #{resource.resourceEditTime}
				</if>
				<if test="order != null  and  order != '' and sort != null and sort != '' " > 
					ORDER BY ${sort} ${order}
				</if>
	</select>
	
	<select id="selectCountByCondition" resultType="int" parameterType="AuthorityResourcesPO">
		select count(1) 
			from authority_resources 
			where 1 = 1
					<if test="resourceUuid != null  and  resourceUuid != '' " > 
						and resource_uuid = #{resourceUuid}
					</if>		        	
					<if test="resourceName != null  and  resourceName != '' " > 
						and resource_name = #{resourceName}
					</if>		        	
					<if test="resourcePlatformUuid != null  and  resourcePlatformUuid != '' " > 
						and resource_platform_uuid = #{resourcePlatformUuid}
					</if>		        	
					<if test="resourceStatus != null  and  resourceStatus != '' " > 
						and resource_status = #{resourceStatus}
					</if>		        	
					<if test="resourceUrl != null  and  resourceUrl != '' " > 
						and resource_url = #{resourceUrl}
					</if>		        	
					<if test="resourceLevel != null  and  resourceLevel != '' " > 
						and resource_level = #{resourceLevel}
					</if>		        	
					<if test="resourceOrder != null  and  resourceOrder != '' " > 
						and resource_order = #{resourceOrder}
					</if>		        	
					<if test="resourceParentUuid != null  and  resourceParentUuid != '' " > 
						and resource_parent_uuid = #{resourceParentUuid}
					</if>		        	
					<if test="resourceCssCode != null  and  resourceCssCode != '' " > 
						and resource_css_code = #{resourceCssCode}
					</if>		        	
					<if test="resourceAddTime != null  and  resourceAddTime != '' " > 
						and resource_add_time = #{resourceAddTime}
					</if>		        	
					<if test="resourceAddBy != null  and  resourceAddBy != '' " > 
						and resource_add_by = #{resourceAddBy}
					</if>		        	
					<if test="resourceDelTime != null  and  resourceDelTime != '' " > 
						and resource_del_time = #{resourceDelTime}
					</if>		        	
					<if test="resourceDelBy != null  and  resourceDelBy != '' " > 
						and resource_del_by = #{resourceDelBy}
					</if>		        	
					<if test="resourceIsDelete != null  and  resourceIsDelete != '' " > 
						and resource__is_delete = #{resourceIsDelete}
					</if>
					<if test="resourceEditBy != null  and  resourceEditBy != '' " > 
						and resource_edit_by = #{resourceEditBy}
					</if>
					<if test="resourceEditTime != null  and  resourceEditTime != '' " > 
						and resource_edit_time = #{resourceEditTime}
					</if>		        	
	</select>	
	
	<select id="childSelect" resultMap = "HasChildResultMap">
		select 
			<include refid="Base_Column_List" /> 
		from authority_resources where resource_parent_uuid = #{resource_uuid} and resource__is_delete =2 ORDER BY resource_order asc
	</select>
	
</mapper>

